body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: url("https://cdn.wallpapersafari.com/87/75/zZ8xaB.jpg") no-repeat center center fixed;
  background-size: cover;
}

.animal {
  text-align: center;
}

.exhibit {
  background-color: white;
}

.descrpition {
  background-color: white;
}

img {
  width: 80%;
}

@media only screen and (max-width: 900px) {
  img {
    width: 80%;
  }


}